<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="env" value="LarrysListRankingAndCompletionDev"/>
  </appSettings>
  <connectionStrings>
    <add   name="ApplicationServices" connectionString="data source=124.248.212.134\LARRY-001;Initial Catalog=LarrysList_Live;User Id=LarrysList_user;Password=Popov2010;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
